# Docker
.docker/traefik/certs/

# Rust
target/

# Databases
*.db
*.db-shm
*.db-wal

# Configuration
config/*.toml

# Node/Playwright
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
