{% match status %}
{% when TemplateStatus::Pending %}
<button id="regenerate-button" disabled
  class="flex-1 px-4 py-2 bg-red-600 text-white font-semibold rounded-lg">
    <div class="animate-spin rounded-full h-5 w-5 border-2 border-red-200 border-t-red-600 shrink-0 m-auto"></div>
</button>
<div ts-swap="append" ts-swap-push="body" ts-trigger="load delay 1s" ts-req="/calendar/regenerate/status"></div>
{% when TemplateStatus::Checking %}
<div ts-trigger="load delay 1s" ts-req="/calendar/regenerate/status"></div>
{% when TemplateStatus::Idle %}
<div ts-trigger="load" ts-action="remove"></div>
<button id="regenerate-button" ts-swap-push="#regenerate-button" ts-trigger="click" ts-req="/calendar/regenerate" ts-req-method="POST"
  class="flex-1 px-4 py-2 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 cursor-pointer">
    {{ "Regenerate"|t }}
</button>
{% endmatch %}
