{% match status %}
{% when Status::Pending %}
<button id="create-button" disabled
  class="flex-1 px-4 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 text-center text-sm">
  <div class="animate-spin rounded-full h-5 w-5 border-2 border-green-200 border-t-green-600 shrink-0 m-auto"></div>
</button>
<div ts-swap="append" ts-swap-push="body" ts-trigger="load delay 300ms" ts-req="/recipes/create-mobile/{{ id }}/status"></div>
{% when Status::Checking %}
<div ts-trigger="load delay 600ms" ts-req="/recipes/create-mobile/{{ id }}/status"></div>
{% when Status::Idle %}
<div ts-trigger="load" ts-action="remove"></div>
<button id="create-button" ts-swap-push="#create-button" ts-req="/recipes/create-mobile" ts-req-method="post"
  class="flex-1 px-4 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 text-center text-sm">
    ✏️ {{ "Create Recipe"|t }}
</button>
{% endmatch %}
