{% match status %}
{% when Status::Pending %}
<button id="register-button" type="submit" disabled
  class="w-full bg-green-600 text-white font-semibold py-3 rounded-lg transition">
  <div class="animate-spin rounded-full h-5 w-5 border-2 border-green-200 border-t-green-600 shrink-0 m-auto"></div>
</button>
<div ts-swap="append" ts-swap-push="body" ts-trigger="load delay 300ms" ts-req="/register/{{ id }}/status"></div>
{% when Status::Checking %}
<div ts-trigger="load delay 600ms" ts-req="/register/{{ id }}/status"></div>
{% when Status::Idle %}
<div ts-trigger="load" ts-action="remove"></div>
<button id="register-button" ts-swap-push="#register-button" type="submit"
  class="w-full bg-green-600 text-white font-semibold py-3 rounded-lg hover:bg-green-700 transition cursor-pointer">
    {{ "Create Account"|t }}
</button>
{% endmatch %}
