<div class="flex flex-col sm:flex-row gap-3 instruction-item">
  <textarea name="instructions_description" rows="2" class="flex-1 min-w-0 px-2 sm:px-4 py-2 border border-gray-300 rounded-lg text-sm sm:text-base"
    required></textarea>
  <div class="flex gap-3">
    <input type="number" name="instructions_time_next" min="0" value="0"
      class="w-24 px-2 sm:px-4 py-2 border border-gray-300 rounded-lg text-sm sm:text-base" required />
    <button ts-trigger="click" ts-action="remove 'parent .instruction-item'" type="button"
      class="shrink-0 px-4 py-2 bg-red-100 text-red-600 rounded-lg hover:bg-red-200">✕</button>
  </div>
</div>
