name: CI

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - "**/Cargo.toml"
      - "Cargo.lock"

jobs:
  test:
    uses: timayz/.github/.github/workflows/rust-test.yml@v3
    with:
      tests: '["cargo test -p imkitchen-recipe", "cargo test -p imkitchen-mealplan", "cargo test -p imkitchen-user", "cargo test -p imkitchen-notification"]'
